/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 11, 2016, 10:13:17 PM
    Author     : User
*/

/** Size the combo-box button. */
.combo-box {
    -fx-pref-width: 200;
}



/** Size the combo-box drop down list. */
.combo-box-popup > .list-view {
    -fx-pref-width: 200;
}